body {
  font-family: Helvetica;
  background-color: #b9c5c400;
}


.sidebar {
  width: 180px;
  height: 100vh;
  float: left;
}

.sidebar-group {
  background-color: #eee;
}

.sidebar-group > div:first-child {
  background-color: white;
  padding-left: 5px;
  
}

.sidebar-group-content {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 2px #aaa;
  text-align: center;
  background-color: #eee;
}

.selection-wrapper {
  padding: 0 10px;
  text-align: right;
}

#user-controls {
  text-align: center;
} 

.btn-wrapper {
  text-align: center;
}


.content-wrapper {
  float: left;
  margin-top: 15px;
  margin-left: 12px;
}

.content-wrapper > div:first-child{
  position: absolute;
}

.canvas-container {
  position: relative;
  width: 1000px;
  height: 300px;
  overflow-x: scroll;
}

.canvas-container > canvas:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  z-index: -1;
}

.canvas-container > canvas {
  position: absolute;
  top: 0;
}

.estimation-container {
  display: inline-block;
  position: absolute;
}

.estimations > * {
  float: left;
}

.estimations:after { 
  content: " "; 
  display: block;
  clear: both;
} 

.measurements-container {
  font-size: 0.8em;
  margin-bottom: 15px;
}

#reference_RoomSize {
  width: 350px;
  position: absolute;
  /*margin-left: 80px;*/ 
}

#reference_2in1 {
  width: 300px;
  position: absolute;
  /* margin-left: 80px;*/
  margin-top: -65px;
}

.board {
  z-index: 0;
}

/*Image hover zoom function*/
.parentimage {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.parentimage:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}

.parentimage2 {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.parentimage2:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid #888;
  width: 40%;

}

/* The Close Button */
.close {
  color: #0a0a0a;
  float: top;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#button{
  display:block;
  margin:20px auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}