body {
  font-family: Helvetica;
}

h1 {
  background: #eee;
}

#user-controls {
  text-align: center;
} 

.canvas-container.guthrie-back {
  position: relative;
  width: 600px;
  height: 300px;
}

.canvas-container.guthrie-side {
  position: relative;
  width: 600px;
  height: 300px;
}

.canvas-container > canvas:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  z-index: -1;
}

.canvas-container > canvas {
  position: absolute;
  top: 0;
}

/*
#guthrie-1 {
  
} 

#guthrie-2 {
  
  background-size: cover;
} */

.estimations {
  overflow: overlay;
}

.estimations > * {
  float: left;
}

#reference_RoomSize {
  /* width: calc(100% - 480px); */
  width: 350px;
  position: absolute;
  margin-left: 200px;
}

#reference_2in1 {
  /* width: calc(100% - 480px); */
  width: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: -65px;
}

.board {
  z-index: 0;
}
