body {
  font-family: Helvetica;
}

.navbar {
  background-color: #ccc;
  color: #444;
  padding-left: .5rem;
}

/* h1 {
  background: #eee;
} */

.sidebar {
  width: 180px;
  height: 100vh;
  float: left;
}

.sidebar-group {
  margin-top: 15px;
  background-color: #eee;
}

.sidebar-group > div:first-child {
  background-color: white;
  /* margin-top: 10px; */
  padding-left: 5px;
}

.sidebar-group-content {
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa; */
  box-shadow: 1px 1px 2px #aaa;
}

.selection-wrapper {
  padding: 0 10px;
  text-align: right;
}

#user-controls {
  text-align: center;
} 

.estimate-btn-wrapper {
  text-align: center;
}


.content-wrapper {
  float: left;
}


.canvas-container.guthrie-back {
  position: relative;
  width: 600px;
  height: 300px;
}

.canvas-container.guthrie-side {
  position: relative;
  width: 600px;
  height: 300px;
}

.canvas-container > canvas:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  z-index: -1;
}

.canvas-container > canvas {
  position: absolute;
  top: 0;
}

/*
#guthrie-1 {
  
} 

#guthrie-2 {
  
  background-size: cover;
} */

.estimations {
  overflow: overlay;
}

.estimations > * {
  float: left;
}

#reference_RoomSize {
  /* width: calc(100% - 480px); */
  width: 350px;
  position: absolute;
  margin-left: 200px;
}

#reference_2in1 {
  /* width: calc(100% - 480px); */
  width: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: -65px;
}

.board {
  z-index: 0;
}
