body {
  font-family: Helvetica;
}

h1 {
  background: #eee;
}

#user-controls {
 text-align: center;
}

.canvas-container.guthrie-back {
  position: relative;
  width: 480px;
  height: 350px;
}

.canvas-container.guthrie-side {
  position: relative;
  width: 600px;
  height: 630px;
}

.canvas-container > canvas:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  z-index: -1;
}

.canvas-container > canvas {
  position: absolute;
  top: 0;
}

#guthrie-1 {
  
}

#guthrie-2 {
  
  background-size: cover;
}

.estimations {
  overflow: overlay;
}

.estimations > * {
  float: left;
}

#reference {
  /* width: calc(100% - 480px); */
  width: 560px;
  position: absolute;
}

.board {
  z-index: 0;
}
