body {
  font-family: Helvetica;
  background-color: #b9c5c400;
}

body.modal-open {
  overflow: hidden;
}

.navbar {
  background-color: rgb(36, 41, 46);
  color: #fff;
  padding-left: .5rem;
}

.navbar-content {
  font-size: 30px;
  padding-left: 12px;
}

.sidebar {
  width: 180px;
  height: 100vh;
  float: left;
}

.sidebar-group {
  margin-top: 20px;
  background-color: #eee;
}

.sidebar-group > div:first-child {
  background-color: white;
  padding-left: 5px;
}

.sidebar-group-content {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 2px #aaa;
}

.selection-wrapper {
  padding: 0 10px;
  text-align: right;
}

#user-controls {
  text-align: center;
} 

.btn-wrapper {
  text-align: center;
}


.content-wrapper {
  float: left;
  margin-top: 15px;
  margin-left: 12px;
}

.canvas-container {
  position: relative;
  width: 950px;
  height: 300px;
}

.canvas-container > canvas:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  z-index: -1;
}

.canvas-container > canvas {
  position: absolute;
  top: 0;
}

.estimation-container {
  display: inline-block;
  position: absolute;
}

.estimations > * {
  float: left;
}

.estimations:after { 
  content: " "; 
  display: block;
  clear: both;
} 

.measurements-container {
  font-size: 0.8em;
  margin-bottom: 15px;
}

#reference_RoomSize {
  width: 350px;
  position: absolute;
  /*margin-left: 80px;*/ 
}

#reference_2in1 {
  width: 300px;
  position: absolute;
  /* margin-left: 80px;*/
  margin-top: -65px;
}

.board {
  z-index: 0;
}

/*Image hover zoom function*/
.parentimage {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.parentimage:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}

.parentimage2 {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.parentimage2:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}
